<!DOCTYPE html>
<html ng-app="tweetsApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src={{ script }}></script>
</head>
<body>
<h2> List of Tweets </h2>
<div ng-controller="TweetListCtrl">

    <label>Filter by:
      <select ng-model="search" ng-init="all">
        <option value="all">All</option>
        <option value="picture">Picture</option>
      </select>
    Sort by:
    <select ng-model="orderProp">
      <option value="retweet_count">Retweets</option>
      <option value="created_at">Newest</option>
    </select>
    <select ng-model="direction">
      <option value="reverse">Reverse</option>
    </select>

  <form ng-submit="submit()">
    Enter handle and hit enter:
    <input type="handle" ng-model="handle" name="handle" />
    <input type="submit" id="submit" value="Submit" />
  </form>

    <!--Body content-->
    <div>
      User:{{user.name|angular}}<br>
      Description: {{user.description|angular}}<br>
      Profile Score: {%raw%} {{getProfileScore()}} {%endraw%}
    </div>


    <ul class="tweets" style="list-style-type:none">
      <li class="tweet_items" ng-repeat="tweet in picFilter(tweets) | orderBy:orderProp:direction">
        {{tweet.text|angular}} <br>
        <ul style="margin-bottom:5px;">
          <li>Retweets: {{tweet.retweet_count|angular}}</li> 
          <li>Influence Score: {{tweet.influence_score|angular}}</li>
          <li>Picture: {{tweet.picture|angular}}</li>
          <li>Date: {{tweet.created_at|angular}}</li>
        </ul>
      </li>
    </ul>
  </div>  
</body>
</html>

